<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GyaniQuest - Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="text-box">
    <h1>Welcome to Gyani</h1>
    <p>age limit 4 to 15 years</p>
    <p>Think of a character, animal, or object, and I'll try to guess it!</p>
    <a href="{{ url_for('classify') }}" class="btn">Start Game</a>
</div>
</body>
</html>
