<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GyaniQuest - Question</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="text-box">
    <h1>{{ question }}</h1>
    <form method="POST">
        <button type="submit" name="answer" value="yes">Yes</button>
        <button type="submit" name="answer" value="no">No</button>
    </form>
</div>
</body>
</html>
